<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ "/css/critical.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <script>
     function hasIncognitoCookie() {
        return document.cookie.split('; ').indexOf('incognitocookie=true') !== -1;
     }
     isOreills = window.location.hostname.indexOf('oreills') !== -1;
     if (isOreills && !hasIncognitoCookie()) {
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
             (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

         ga('create', 'UA-60262200-1', 'auto');
         ga('send', 'pageview');
     } else {
         console.log('Skipping GA, oreills:', isOreills, 'incognitoCookie:', hasIncognitoCookie());
     }

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>
     function checkSize() {
        if ($(window).width() <= 767) {
            $('.list-unstyled').removeClass('show');

            $('.container-block-title').on("click", function() {
                headingId = $(this).attr('id');
                targetId = headingId.slice(0, headingId.length - '-heading'.length);
                $('#' + targetId).collapse('toggle');
            });

            $('.sidebar-wrapper .collapse').on('show.bs.collapse', function() {
                targetId = $(this).attr('id');
                console.log(targetId);
                $('#' + targetId + '-heading').addClass('open');
            });

            $('.sidebar-wrapper .collapse').on('hide.bs.collapse', function() {
                targetId = $(this).attr('id');
                $('#' + targetId + '-heading').removeClass('open');
            });

         } else {
             $('.list-unstyled').addClass('show');
             $('.container-block-title').off("click");
         }
     }
     $(document).ready(function() {
         checkSize();
         $(window).resize(checkSize);
     })
    </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% seo %}
</head>
