<div class="sidebar-wrapper">
    <div class="profile-wrapper">
        <a href="{{ site.baseurl }}/">
            <div class="profile-container">
                <img class="profile-img" src="/images/profile-120px.jpg" alt="profile picture" />
                <h1 class="name">{{site.title}}</h1>
                <h3 class="tagline">Cat-Brain Uplink On</h3>
            </div>
        </a>
    </div>
    <div class="contact-container container-block">
        <h2 id="contact-list-heading" class="container-block-title">Info</h2>
        <ul id="contact-list" class="sidebar-list media-collapse">
            <li>
                <span class="icon">
                    {% include svg_user.html %}
                </span>
                <span>Christy O'Reilly</span>
            </li>
            {% if site.email %}
            <li class="email">
                <span class="icon">
                    {% include svg_email.html %}
                </span>
                <a href="mailto: {{site.email}}">
                    <span>{{site.email}}</span>
                </a></li>
            {% endif %}

            {% if site.github_username %}
            <li class="github">
                <span class="icon">
                    {% include svg_github.html %}
                </span>
                <a href="https://github.com/{{site.github_username}}" target="_blank">
                    <span>{{site.github_username}}</span>
                </a></li>
            {% endif %}

            {% if site.twitter.username %}
            <li class="twitter">
                <span class="icon">
                    {% include svg_twitter.html %}
                </span>
                <a href="https://twitter.com/{{site.twitter.username}}" target="_blank">
                    <span>@{{site.twitter.username}}</span>
                </a></li>
            {% endif %}

        </ul>
    </div>
    {% include post-list.html title="Recent Posts" posts=site.posts identifier="recent-posts" %}
</div>
